.container-topo{
    display: flex;
    flex-direction: column;
    padding: 0px 10px 0px 28px;
    
}
.container-topo h1{
    margin-bottom: -13px;
}
.container-topo h4{
    color: #a6a4a4;
}
.border{
    border: 1px solid  #e6e6e6;
    width: 100%;
  
}
.container-page{
    display: flex;
    flex-direction: row;
    padding: 18px 0px 0px 28px;
}
.body-page{
    width: 66%;
}
.menu{
    width: 300px;
    padding: 12px;
}
.text-menu{
    display: flex;
    padding: 12px 0px 11px 9px;
    color: #a6a4a4;
}
.text-menu:hover{
    padding: 12px 0px 11px 9px;
    background-color: #f4f4f6;
    align-items: center;
    border-radius: 7%;
}
.text-page{
    width: 66%;
}
.input-menu{
    display: flex;
    flex-direction: column;
}