.container-topo{
    display: flex;
    flex-direction: column;
    padding: 0px 10px 0px 28px;
    
}
.container-topo h1{
    margin-bottom: -13px;

}
.container-topo h4{
    color: #a6a4a4;
}
.border{
    border: 1px solid  #e6e6e6;
    width: 100%;
  
}
.container-page{
    display: flex;
    flex-direction: row;
    padding: 18px 0px 0px 28px;
}
.body-page{
    width: 48%;
}
.menu{
    width: 300px;
    padding: 12px;
}
.text-menu{
    display: flex;
    padding: 12px 0px 11px 9px;
    color: #a6a4a4;
}
.text-menu:hover{
    padding: 12px 0px 11px 9px;
    background-color: #f4f4f6;
    align-items: center;
    border-radius: 7px;
}
.text-page{
    width: 48%;
}
.text-page h1{
    color: #7e7c7c;
}
.text-page h4{
    color: #7e7c7c;
}
.input-menu{
    display: flex;
    flex-direction: column;
}
.input-menu p{
    color: #7e7c7c;
}
#meuInput {
    border-color: #a6a4a4;
    border: 1px solid #a6a4a4;
    height: 38px;
    padding: 0px 10px;
    border-radius: 7px;
    outline: none;
}
.input-menu label{
    padding: 19px 0px 26px 0px;
    color: #7e7c7c;
}



