<app-head title="Clientes"></app-head>


<main  *ngIf="metaData">
  <section class="max-w-7xl" style="margin: auto;" > 

    <div class="border border-gray-300 p-6 grid grid-cols-1 gap-6 bg-white shadow-lg rounded-lg"> 
     
    
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="grid grid-cols-2 gap-2 border border-gray-200 p-2 rounded flex justify-center">
              <div class="flex border rounded items-center p-1 ">
                <svg class="fill-current text-gray-800 mr-2 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path class="heroicon-ui" d="M14 5.62l-4 2v10.76l4-2V5.62zm2 0v10.76l4 2V7.62l-4-2zm-8 2l-4-2v10.76l4 2V7.62zm7 10.5L9.45 20.9a1 1 0 0 1-.9 0l-6-3A1 1 0 0 1 2 17V4a1 1 0 0 1 1.45-.9L9 5.89l5.55-2.77a1 1 0 0 1 .9 0l6 3A1 1 0 0 1 22 7v13a1 1 0 0 1-1.45.89L15 18.12z"></path>
                </svg>
                <input type="text" [(ngModel)]="city" name="city"  placeholder="Cidade" class="max-w-full focus:outline-none text-gray-700">
            </div>
            <select class="border p-2 rounded" (change)="onChange($event.target)">
              <option value="10">Número de resultado</option>
              <option value="10">10 Por Pagina</option>
              <option value="30">30 Por Pagina</option>
              <option value="60">60 Por Pagina</option>
              <option value="100">100 Por Pagina</option>
          </select>
          </div>
      <div (click)="resetPageAndSearch()" class="flex justify-center"><button class="p-1 border w-3/4 rounded-md bg-gray-800 text-white">Pesquisar</button></div>
           
      </div>
  </div>
  
  <div class="rounded-lg border border-gray-200 shadow-md mt-5" style="
  overflow: scroll;
">

    <div class="flex gap-2 m-3">
      <div class="center relative inline-block select-none whitespace-nowrap rounded-lg   py-2 px-3.5 align-baseline font-sans text-xs font-bold uppercase leading-none text-black  border border-gray-200 ">
        <div *ngIf="metaData.total" class="mt-px"> Resultados encontrados - {{metaData.total}}</div>
      </div>
      <div class="center relative inline-block select-none whitespace-nowrap rounded-lg py-2 px-3.5 align-baseline font-sans text-xs font-bold uppercase leading-none text-black  border border-gray-200 ">
        <div class="mt-px">Página atual - {{metaData.current_page}}</div>
      </div>
      <div class="center relative inline-block select-none whitespace-nowrap rounded-lg py-2 px-3.5 align-baseline font-sans text-xs font-bold uppercase leading-none text-black  border border-gray-200 ">
        <div class="mt-px">Total de páginas - {{metaData.last_page}}</div>
      </div>
    </div>

    <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
      <thead class="bg-gray-50">
        <tr>

   
          <th scope="col" class="px-3 py-4 font-medium text-gray-900">Nome /Telefone </th>
          <th scope="col" class="px-3 py-4 font-medium text-gray-900">Cargo / Salario</th>
          <th scope="col" class="px-3 py-4 font-medium text-gray-900">Endereço Bairro</th>
          <th scope="col" class="px-3 py-4 font-medium text-gray-900">Cidade / UF</th>
          <th scope="col" class="px-3 py-4 font-medium text-gray-900">Ações</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-100 border-t border-gray-100">

            <tr class="hover:bg-gray-50" *ngFor="let result of results" >
              <th class="flex gap-3 px-3 py-4 font-normal text-gray-900">
               
                <div class="text-sm">
                  <div class="font-medium text-gray-700">{{result.nome}}</div>
                  <div class="text-gray-400">{{result.telefone}} </div>
                </div>
              </th>
              <td class="px-3 py-4">
                <span
                    class="inline-flex items-center gap-1 rounded-full bg-blue-50 px-2 py-1 text-xs font-semibold text-blue-600"
                  >
                {{result.cargo}} - {{result.salario}} 
                </span>
              </td>
              <td class="px-3 py-4"> {{result.endereco}} - {{result.bairro}}  </td>
              <td class="px-3 py-4">
                <div class="flex gap-2">
                  <span
                    class="inline-flex items-center gap-1 rounded-full bg-blue-50 px-2 py-1 text-xs font-semibold text-blue-600"
                  >
                  {{result.cidade}} - {{result.uf}}
                  </span>
                   
                </div>
              </td>
              <td class="px-3 py-4">
                <div class="flex justify-end gap-4" (click)="openModalDetail('10')">
               
                  <a x-data="{ tooltip: 'Edite' }">
                    <svg   class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="800px" height="800px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" id="Editable-line" version="1.1" xml:space="preserve"><path d="  M16,7C9.934,7,4.798,10.776,3,16c1.798,5.224,6.934,9,13,9s11.202-3.776,13-9C27.202,10.776,22.066,7,16,7z" fill="none" id="XMLID_10_" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/><circle cx="16" cy="16" fill="none" id="XMLID_12_" r="5" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/></svg>
                  </a>
                </div>
              </td>
            </tr>
 
      </tbody>
    </table>

    

    
  </div>
  <div class="flex items-center justify-between mt-6">
    <a (click)="requestPage(metaData.current_page - 1)"   class="flex items-center px-5 py-2 text-sm text-gray-700  m-5  capitalize transition-colors duration-200 bg-white border rounded-md gap-x-2 hover:bg-gray-100   ">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
        </svg>

        <span>
            Voltar
        </span>
    </a>

    <div class="items-center md:flex gap-x-3">
      <a  (click)="requestPage(metaData.current_page - 1)"  class="px-2 py-1 text-sm text-gray-500 rounded-md  hover:bg-gray-100" *ngIf="metaData.current_page > 1">{{metaData.current_page - 1}}</a> 
        <a class="px-2 py-1 text-sm text-blue-500 rounded-md  bg-blue-100/60">{{metaData.current_page}}</a>
        <a   (click)="requestPage(metaData.current_page + 1)"  class="px-2 py-1 text-sm text-gray-500 rounded-md  hover:bg-gray-100"  *ngIf="metaData.current_page < metaData.last_page" >{{metaData.current_page + 1}}</a> 
    </div>

    <a (click)="requestPage(metaData.current_page + 1)" class="flex items-center px-5 py-2 text-sm text-gray-700 capitalize m-5  duration-200 bg-white border rounded-md gap-x-2 hover:bg-gray-100  " >
        <span >
            Próximo
        </span>

        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
        </svg>
    </a>
</div>
</section>
 
</main>